<div class="practice--panel--ejs8J"><div data-purpose="practice-component-text" class="rt-scaffolding"><blockquote><p>Lab Objective: Demonstrate Time Travel</p></blockquote><p>This lab demonstrates the usage of time travel through the AT &amp; BEFORE SQL extension. We update a table‘s data before demonstrating the use of AT clause with a timestamp to recover data before the update. Then we delete all data from the table and use the BEFORE clause with a query id to see data as it existed before the DELETE statement was run. Finally, we use the AT clause with a time offset.</p><p><br></p><ol><li><p>Let us start by creating a database in which we will create our test tables.</p><div class="ud-component--base-components--code-block"><div><pre class="prettyprint linenums prettyprinted" role="presentation" style=""><ol class="linenums"><li class="L0"><span class="pln">CREATE DATABASE timetravel_demo</span><span class="pun">;</span></li><li class="L1"><span class="pln">USE DATABASE timetravel_demo</span><span class="pun">;</span></li></ol></pre></div></div><p><br></p></li><li><p>Next, we will create a new table and populate it with some data. You can always create a new table and load new data using the COPY command, but to simplify the process, let us use a table from the Snowflake sample database. To create a table from the sample database, use the following SQL.</p><div class="ud-component--base-components--code-block"><div><pre class="prettyprint linenums prettyprinted" role="presentation" style=""><ol class="linenums"><li class="L0"><span class="pln">CREATE TABLE STORE</span></li><li class="L1"><span class="pln">AS SELECT </span><span class="pun">*</span><span class="pln"> FROM SNOWFLAKE_SAMPLE_DATA</span><span class="pun">.</span><span class="pln">TPCDS_SF10TCL</span><span class="pun">.</span><span class="pln">STORE</span><span class="pun">;</span></li></ol></pre></div></div><p><br></p></li><li><p>Let us validate that our table has some data by running a count query on the table as follows.</p><div class="ud-component--base-components--code-block"><div><pre class="prettyprint linenums prettyprinted" role="presentation" style=""><ol class="linenums"><li class="L0"><span class="pln">SELECT COUNT</span><span class="pun">(*)</span><span class="pln"> FROM STORE</span><span class="pun">;</span></li></ol></pre></div></div><p><br></p></li><li><p>Because our next step will be to perform an accidental update of the table, let us note the current time before we perform the next step. To do so, run the following SQL and make sure you save the output somewhere, e.g., in notepad.</p><div class="ud-component--base-components--code-block"><div><pre class="prettyprint linenums prettyprinted" role="presentation" style=""><ol class="linenums"><li class="L0"><span class="pln">SELECT CURRENT_TIMESTAMP</span><span class="pun">;</span></li></ol></pre></div></div><p><br></p></li><li><p>Now let us update one of the table’s columns. The idea is to simulate an accidental update of a complete column.</p><div class="ud-component--base-components--code-block"><div><pre class="prettyprint linenums prettyprinted" role="presentation" style=""><ol class="linenums"><li class="L0"><span class="pln">UPDATE STORE SET s_manager </span><span class="pun">=</span><span class="pln"> NULL</span><span class="pun">;</span></li></ol></pre></div></div><p><br></p></li><li><p>Now, if we do a SELECT * from the table, you will note that the s_manager column is NULL as expected.</p><div class="ud-component--base-components--code-block"><div><pre class="prettyprint linenums prettyprinted" role="presentation" style=""><ol class="linenums"><li class="L0"><span class="pln">SELECT </span><span class="pun">*</span><span class="pln"> FROM STORE</span><span class="pun">;</span></li></ol></pre></div></div><p><br></p></li><li><p>To recover from this situation, we can use the Time Travel capability to access the data as it existed before the accidental update. To do so, we will use the BEFORE clause and the timestamp parameter to see the table data as it existed before the specified time. To do so, please use the timestamp value that you would have copied from step 4. Once you run the SQL, notice that in the result set, the <em>s_manager</em> field has a non NULL value, indicating that it is the state of the table as it existed before the update was run.</p><div class="ud-component--base-components--code-block"><div><pre class="prettyprint linenums prettyprinted" role="presentation" style=""><ol class="linenums"><li class="L0"><span class="pln">SELECT </span><span class="pun">*</span><span class="pln"> FROM STORE</span></li><li class="L1"><span class="pln">BEFORE</span><span class="pun">(</span><span class="pln">TIMESTAMP </span><span class="pun">=&gt;</span><span class="pln"> </span><span class="str">'&lt;timestamp&gt;'</span><span class="pun">::</span><span class="pln">timestamp_ltz</span><span class="pun">);</span></li></ol></pre></div></div><p><br></p></li><li><p>Note that we used the BEFORE clause to get this data. In this specific situation, the AT clause will also return the same results because AT returns the data before and inclusive of the provided parameter value, which in this case is the timestamp. So the AT clause will return the data as it existed at that timestamp, and we know that we hadn’t run the update at that timestamp.</p><div class="ud-component--base-components--code-block"><div><pre class="prettyprint linenums prettyprinted" role="presentation" style=""><ol class="linenums"><li class="L0"><span class="pln">SELECT </span><span class="pun">*</span><span class="pln"> FROM STORE</span></li><li class="L1"><span class="pln">AT</span><span class="pun">(</span><span class="pln">TIMESTAMP </span><span class="pun">=&gt;</span><span class="pln"> </span><span class="str">'&lt;timestamp&gt;'</span><span class="pun">::</span><span class="pln">timestamp_ltz</span><span class="pun">);</span></li></ol></pre></div></div><p><br></p></li><li><p>Let us now delete all rows from the table to simulate an accidental removal of all rows in a table.</p><p>Make sure you copy the Query ID of the statement being run, as it will be required for the next step.</p><div class="ud-component--base-components--code-block"><div><pre class="prettyprint linenums prettyprinted" role="presentation" style=""><ol class="linenums"><li class="L0"><span class="pln">DELETE FROM STORE</span><span class="pun">;</span></li></ol></pre></div></div><p><br></p></li><li><p>Let us count the number of rows in the table using the following SQL. The result should be zero since all rows have been deleted.</p><div class="ud-component--base-components--code-block"><div><pre class="prettyprint linenums prettyprinted" role="presentation" style=""><ol class="linenums"><li class="L0"><span class="pln">SELECT COUNT</span><span class="pun">(*)</span><span class="pln"> FROM STORE</span><span class="pun">;</span></li></ol></pre></div></div><p><br></p></li><li><p>Now we will use the BEFORE syntax with statement parameter to get the state of the data as it existed before the UPDATE query was run. To do so run the following SQL, but make sure to replace the &lt;query id&gt; placeholder with the Query ID that you copied from step 9.</p><div class="ud-component--base-components--code-block"><div><pre class="prettyprint linenums prettyprinted" role="presentation" style=""><ol class="linenums"><li class="L0"><span class="pln">SELECT </span><span class="pun">*</span><span class="pln"> FROM STORE</span></li><li class="L1"><span class="pln">BEFORE</span><span class="pun">(</span><span class="pln">STATEMENT </span><span class="pun">=&gt;</span><span class="pln"> </span><span class="str">'&lt;query id&gt;'</span><span class="pun">);</span></li></ol></pre></div></div><p><br></p></li><li><p>The previous query should return a non-zero result showing data before the DELETE statement was run. Note that in this case, if we use the AT clause rather than BEFORE, we will not get the same results. The AT clause includes the changes, which means it will include the changes done by the UPDATE query. You can test that by running the following SQL.</p><div class="ud-component--base-components--code-block"><div><pre class="prettyprint linenums prettyprinted" role="presentation" style=""><ol class="linenums"><li class="L0"><span class="pln">SELECT </span><span class="pun">*</span><span class="pln"> FROM STORE</span></li><li class="L1"><span class="pln">AT</span><span class="pun">(</span><span class="pln">STATEMENT </span><span class="pun">=&gt;</span><span class="pln"> </span><span class="str">'&lt;query id&gt;'</span><span class="pun">);</span></li></ol></pre></div></div><p><br></p></li><li><p>Finally, before we finish this lab, let us try one more time travel method: the offset parameter. Offset specifies the number of seconds from the current time, so as an example, a negative 300 value will result in data being returned from 5 minutes ago. You can use the following SQL to see how Time Travel works with the offset parameter. Please change -120 with other negative values to see how data existed at various points in time during this exercise. The values will differ for each individual and will depend on how fast or slow you went through the lab steps. Note: if you specify a time too much into the past, you may get this error “Time travel data is not available for table STORE. The requested time is either beyond the allowed time travel period or before the object creation time.”</p><div class="ud-component--base-components--code-block"><div><pre class="prettyprint linenums prettyprinted" role="presentation" style=""><ol class="linenums"><li class="L0"><span class="pln">SELECT </span><span class="pun">*</span><span class="pln"> FROM STORE</span></li><li class="L1"><span class="pln">AT</span><span class="pun">(</span><span class="pln">OFFSET </span><span class="pun">=&gt;</span><span class="pln"> </span><span class="pun">-</span><span class="lit">120</span><span class="pun">);</span></li></ol></pre></div></div></li></ol></div><div class="practice--question-list--1HR9g practice--mt-md--3j-aS" data-purpose="question-list"><h4 class="ud-heading-md practice--mb-xs--Lpg-b">Questions for this assignment</h4><div><div class="question--question--152Yi"><div class="ud-text-bold question--title--2FD-U"><div data-purpose="safely-set-inner-html:rich-text-viewer:html" class="question--title-text--2kBEO rt-scaffolding"><p>What is the different between AT and BEFORE when using Time Travel SQL extensions?</p></div></div><div class="question--answer--2ASXa"></div></div><div class="question--question--152Yi"><div class="ud-text-bold question--title--2FD-U"><div data-purpose="safely-set-inner-html:rich-text-viewer:html" class="question--title-text--2kBEO rt-scaffolding"><p>What are the three types of parameters you can use with AT or BEFORE Time Travel SQL extensions?</p></div></div><div class="question--answer--2ASXa"></div></div></div></div></div>

<p><b>Ans 1Q)</b> <p>BEFORE returns data as it existed before the value provided in the parameter.<br>
AT returns the data before and inclusive of the provided parameter value.</p></p>

<p>
<b>ANs 2Q)</b> <p>The three types of parameters are
<ul>
<li>timestamp</li>
<li>statement (query id)</li>
<li>offset</li>
</ul>    
</p>
</p>